#mapid { height: 512px; }

.leaflet-popup-content-wrapper {
  padding: 0;
}

.leaflet-popup-content {
  margin: 0;
  width: 256px !important;
}

.leaflet-popup-content img {
  border-top-left-radius:  12px;
  border-top-right-radius: 12px;
}

#colony-list {
  margin: 8px;
}

#colony-list span {
  font-size: 16dp;
  margin-bottom: 8px;
}